html, body {
   height: 100%;
   padding: 0;
   margin: 0;
   font-family: 'Open Sans', sans-serif;
}

h1 {
   font-weight: normal;
   color: #999;
}

button {
   width: 160px;
   padding: 16px 36px;
   background-color: white;
   border: 1px solid #CCC;
   font-family: 'Open Sans', sans-serif;
}

#canvasContainer {
   float: left;
   width: 75%;
}

#sidebarContainer {
   float: right;
   width: 21%;
   height: 100%;
   border-left: 1px solid #CCC;
   padding: 0px 1.5%;
}

#stepButtons {
   position: absolute;
   bottom: 36px;
   left: 36px;
}

#nextStepButton {
   margin-left: 8px;
}

#toggleAndLabels {
   position: absolute;
   top: 36px;
   left: 36px;
}

#toggleContainer {
   position: relative;
   width: 60px;
   height: 28px;
   display: inline-block;
   margin: 0px 8px;
}

#toggleCheckbox {
  opacity: 0;
  width: 0;
  height: 0;
}

#toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #AAAAAA;
  border-radius: 28px;
  -webkit-transition: .1s;
  transition: .1s;
}

#toggleSliderKnob {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 4px;
  bottom: 4px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: .1s;
  transition: .1s;
}

#toggleCheckbox:checked ~ #toggleSliderKnob {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}


#packetDetailsContainer {
   margin-top: 8px;
   height: 40%;
}

#packetDetailsSourceDestTable td,
#packetDetailsTable td,
#nameserverDetailsHostnameIpTable td,
#nameserverDetailsTable td {
   padding: 2px 8px;
}

#packetDetailsSourceDestTable tr td:first-child,
#nameserverDetailsHostnameIpTable tr td:first-child {
   font-weight: bold;
}

#packetDetailsTable tr td[colspan="4"],
#nameserverDetailsTable tr td[colspan="3"] {
   font-weight: bold;
   font-style: italic;
   padding-top: 8px;
}

#nameserverDetailsContainer {
   margin-top: 128px;
}
