html, body {
   height: 100%;
   padding: 0;
   margin: 0;
   font-family: 'Open Sans', sans-serif;
}

h1 {
   font-weight: normal;
   color: #999;
}

button {
   width: 160px;
   padding: 16px 36px;
   background-color: white;
   border: 1px solid #CCC;
   font-family: 'Open Sans', sans-serif;
}

#canvasContainer {
   float: left;
   width: 75%;
}

#sidebarContainer {
   float: right;
   width: 21%;
   height: 100%;
   border-left: 1px solid #CCC;
   padding: 0px 1.5%;
}

#stepButtons {
   position: absolute;
   bottom: 36px;
   left: 36px;
}

#nextStepButton {
   margin-left: 8px;
}

#packetDetailsContainer {
   height: 40%;
}

#packetDetailsSourceDestTable td,
#packetDetailsTable td,
#nameserverDetailsHostnameIpTable td,
#nameserverDetailsTable td {
   padding: 2px 8px;
}

#packetDetailsSourceDestTable tr td:first-child,
#nameserverDetailsHostnameIpTable tr td:first-child {
   font-weight: bold;
}

#packetDetailsTable tr td[colspan="4"] {
   font-weight: bold;
   font-style: italic;
   padding-top: 8px;
}
#nameserverDetailsTable {
   margin-top: 16px;
}

#nameserverDetailsContainer {
   margin-top: 128px;
}
